body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f2f5;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    position: relative;
}

.progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 35px;
}

.progress-step {
    width: 30px;
    height: 30px;
    background-color: #ddd;
    color: #666;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    font-weight: bold;
}

.progress-step.active {
    background-color: #007bff;
    color: white;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}

p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #555;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.password-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

label {
    font-size: 16px;
    margin-bottom: 8px;
    margin-left: 5px;
    font-weight: bold;
    color: #555;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #f9f9f9;
}

input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover {
    background-color: #0056b3;
}

.back-button {
    position: absolute;
    left: 10px;
    top: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.back-button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.code-container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.code-input {
    width: 45px;
    height: 50px;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    text-align: center;
}

.register-link {
    font-size: 14px;
    text-align: center;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}

.alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 300px;
}

.alert p {
    white-space: pre-wrap;
    margin-bottom: 15px;
}

.alert button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.alert button:hover {
    background-color: #0056b3;
}